# parameters and IDE settings
/app/config/parameters.yml
/app/config/parameters_test.yml
/.idea
/composer.phar

# Cache & logs
/var/

# Vendors
/node_modules/
/vendor/

# Web symlinks
/web/bundles/

# System Mac OS
.DS_Store
